params {
  dataDir="/projects/li-lab/agarwa/CUBE/DeepTact/dataset"

  // genome options
  species_genome_fasta="${params.dataDir}/hg19.fa"
  chromList=(1..22)+['X', 'Y']
  chromLen_GRCh37v13 = ['chr1':249250621, 'chr2':243199373, 'chr3':198022430, 'chr4':191154276, 'chr5':180915260, 'chr6':171115067, 'chr7':159138663, 'chr8':146364022, 'chr9':141213431, 'chr10':135534747, 'chr11':135006516, 'chr12':133851895, 'chr13':115169878, 'chr14':107349540, 'chr15':102531392, 'chr16':90354753, 'chr17':81195210, 'chr18':78077248, 'chr19':59128983, 'chr20':63025520, 'chr21':48129895, 'chr22':51304566, 'chrX':155270560, 'chrY':59373566]

  // regulatory element list : pre-processing options
  bgWindow = 1000000 // background length for regulatory elements = 1MB (both promoters and enhancers)
  augment_length = 1000
  augment_step = 50
  promoter_bedfile = "${params.dataDir}/hg19_promoter_allFields.bed"
  promoter_window = 1000
  promoter_headers = "['chrom', 'txStart', 'txEnd', 'name', 'score', 'strand', 'cdsStart', 'cdsEnd', '--', 'exonCount', 'exonStarts', 'exonEnds']"
  enhancer_bedfile = "${params.dataDir}/enhancers_fantom5/human_permissive_enhancers_phase_1_and_2.bed"
  enhancer_window = 2000
  enhancer_headers = "['chrom', 'chromStart', 'chromEnd', 'name', 'score', 'strand', 'thickStart', 'thickEnd', 'itemRgb', 'blockCount', 'blockSizes', 'blockStarts']"

  // PCHi-C data processing options
  hic_input = "${params.dataDir}/PCHiC_data/PCHiC_peak_matrix_cutoff5.tsv"
  hic_split_process = 10 // split hic tsv into <N> part for preprocessing
  hic_split_combine = 20 // split hic tsv into <N> part for preprocessing
  pos_threshold = 5
  neg_threshold = 0
  gtf_transcript_to_gene = "${params.dataDir}/gencode.v3c.annotation.GRCh37.gtf"
  pos_neg_interac_ratio = 20 //num of negative interactions created as a multiple of positive interactions
  hic_augment_factor = 20 //num of augmented interactions created as a multiple of total interactions
  cellTypes=['Mon','FoeT','nCD4','tCD4','tCD8','tB'] // cell types list for PCHiC data

  // CO score .bam data
  coScore_data="${projectDir}/CO_score_input.csv"

  // options
  outdir = "${projectDir}/output_dir"
  publish_dir_mode = 'copy'
  tracedir = "${params.outdir}/pipeline_info"
}


timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag.svg"
}

env {
    PYTHONPATH = "${projectDir}/bin:$PYTHONPATH"
}

process {
  executor = 'slurm'
  cpus = 16
  memory = '200 GB'
  time = '1d'
  clusterOptions = '--qos batch'
  // shell = ['/bin/bash','-u']
}


profiles {

  standard {
    process.executor = 'local'
  }

  slurm{
    process {
      withLabel: 'bigCpuMem' {
        executor = 'slurm'
        memory = '700 GB'
        time = '3d'
        clusterOptions = '--qos batch --cpus-per-task 16'
        // shell = ['/bin/bash','-u']
      }
      withLabel: 'bigmem' {
        executor = 'slurm'
        memory = '700 GB'
        time = '3d'
        clusterOptions = '--qos batch'
        // shell = ['/bin/bash','-u']
      }
      withLabel: 'intense' {
        executor = 'slurm'
        memory = '500 GB'
        time = '3d'
        clusterOptions = '--qos batch --cpus-per-task 8'
        // shell = ['/bin/bash','-u']
      }
      withLabel: '!(intense|bigmem|bigCpuMem)' {
        executor = 'slurm'
        memory = '200 GB'
        time = '1d'
        clusterOptions = '--qos batch'
        // shell = ['/bin/bash','-u']
      }
    }
  }

}