params{  // regulatory element preprocessing options
  dataDir="/projects/li-lab/agarwa/CUBE/DeepTact/dataset"

  species = "" //'mm'/'hg'
  promoter_bedfile_hg = "$dataDir/hg19_promoter_allFields.bed"
  enhancer_bedfile_hg = "$dataDir/enhancers_fantom5/human_permissive_enhancers_phase_1_and_2.bed"
  all_chrom_hg = "['chr1', 'chr2', 'chr3', 'chr4', 'chr5', 'chr6', 'chr7', 'chr8', 'chr9', 'chr10', 'chr11', 'chr12', 'chr13', 'chr14', 'chr15', 'chr16', 'chr17', 'chr18', 'chr19', 'chr20', 'chr21', 'chr22', 'chrX', 'chrY']"
  bgWindow = 1000000 // background length for regulatory elements = 1MB (both promoters and enhancers)
  augment_length = 1000
  augment_step = 50

  promoter_bedfile_hg = "$dataDir/hg19_promoter_allFields.bed"
  promoter_window = 1000
  promoter_headers_hg = "['chrom', 'txStart', 'txEnd', 'name', 'score', 'strand', 'cdsStart', 'cdsEnd', '--', 'exonCount', 'exonStarts', 'exonEnds']"

  enhancer_bedfile_hg = "$dataDir/enhancers_fantom5/human_permissive_enhancers_phase_1_and_2.bed"
  enhancer_window = 2000
  enhancer_headers = "['chrom', 'chromStart', 'chromEnd', 'name', 'score', 'strand', 'thickStart', 'thickEnd', 'itemRgb', 'blockCount', 'blockSizes', 'blockStarts']"


  promoter_bedfile_mm = "$dataDir/promoters_mm9.bed"
  enhancer_bedfile_mm = "$dataDir/enhancers_fantom5/mouse_permissive_enhancers_phase_1_and_2.bed"
  all_chrom_mm = "['chr1', 'chr2', 'chr3', 'chr4', 'chr5', 'chr6', 'chr7', 'chr8', 'chr9', 'chr10', 'chr11', 'chr12', 'chr13', 'chr14', 'chr15', 'chr16', 'chr17', 'chr18', 'chr19', 'chrX', 'chrY']"
  promoter_headers_mm = "['chrom', 'txStart', 'txEnd', 'name', 'strand']"
}