params {
  codeDir="/projects/li-lab/agarwa/CUBE/DeepTact/code"

  // options
  publish_dir_mode = 'copy'
  tracedir = "${projectDir}/pipeline_info"

  store_dir = "$codeDir/storeDir"
}


timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag.svg"
}

env {
    PYTHONPATH = "${projectDir}/bin:$PYTHONPATH"
}


profiles {

  standard {
    process.executor = 'local'
  }

  slurm{
    process {
      errorStrategy = 'terminate'
      executor = 'slurm'
      memory = '100 GB'
      time = '2h'
      clusterOptions = '--qos batch'
      // shell = ['/bin/bash','-u']
    }
  }
}