params{  // regulatory element preprocessing options
  dataDir="/projects/li-lab/agarwa/CUBE/DeepTact/dataset"

  bgWindow = 1000000 // background length for regulatory elements = 1MB (both promoters and enhancers)
  augment_length = 1000
  augment_step = 50

  promoter_bedfile = "$dataDir/hg19_promoter_allFields.bed"
  promoter_window = 1000
  promoter_headers = "['chrom', 'txStart', 'txEnd', 'name', 'score', 'strand', 'cdsStart', 'cdsEnd', '--', 'exonCount', 'exonStarts', 'exonEnds']"

  enhancer_bedfile = "$dataDir/enhancers_fantom5/human_permissive_enhancers_phase_1_and_2.bed"
  enhancer_window = 2000
  enhancer_headers = "['chrom', 'chromStart', 'chromEnd', 'name', 'score', 'strand', 'thickStart', 'thickEnd', 'itemRgb', 'blockCount', 'blockSizes', 'blockStarts']"
}