params {

  // options
  store_dir = "/projects/li-lab/agarwa/CUBE/DeepTact/code/storeDir"
  dev = false
  species = "" // no default species to avoid mistakes
}

includeConfig 'params.config'

timeline.enabled = true

report.enabled = true

// trace {
//   enabled = true
//   file = "$workflow.launchDir/${workflow.runName}_execution_trace.txt"
// }
// dag {
//   enabled = true
//   file = "$workflow.launchDir/${workflow.runName}_pipeline_dag.svg"
// }

env {
    PYTHONPATH = "${projectDir}/bin:$PYTHONPATH"
}


profiles {

  standard {
    process.executor = 'local'
  }

  slurm{
    process {
      errorStrategy = 'terminate'
      executor = 'slurm'
      memory = '100 GB'
      time = '2h'
      clusterOptions = '--qos batch'
      // shell = ['/bin/bash','-u']
    }
  }
}
