params {

  // options
  store_dir = "/projects/li-lab/agarwa/CUBE/DeepTact/code/storeDir"
  dev = false
  species = "" // no default species to avoid mistakes
}

includeConfig 'params.config'

timeline.enabled = true

report.enabled = true

// trace {
//   enabled = true
//   file = "${params.tracedir}/execution_trace.txt"
// }
// dag {
//   enabled = true
//   file = "${params.tracedir}/pipeline_dag.svg"
// }

env {
    PYTHONPATH = "${projectDir}/bin:$PYTHONPATH"
}

profiles {

  standard {
    process.executor = 'local'
  }

  slurm{
    process {
      withLabel: 'bigCpuMem' {
        executor = 'slurm'
        memory = '700 GB'
        time = '1d'
        clusterOptions = '--qos batch --cpus-per-task 16'
        // shell = ['/bin/bash','-u']
      }
      withLabel: 'bigmem' {
        executor = 'slurm'
        memory = '700 GB'
        time = '1d'
        clusterOptions = '--qos batch'
        // shell = ['/bin/bash','-u']
      }
      withLabel: 'intense' {
        executor = 'slurm'
        memory = '500 GB'
        time = '1d'
        clusterOptions = '--qos batch --cpus-per-task 8'
        // shell = ['/bin/bash','-u']
      }
      withLabel: '!(intense|bigmem|bigCpuMem)' {
        executor = 'slurm'
        memory = '200 GB'
        time = '1d'
        clusterOptions = '--qos batch'
        // shell = ['/bin/bash','-u']
      }
    }
  }

}