params{
  dataDir="/projects/li-lab/agarwa/CUBE/DeepTact/dataset"

  // PCHi-C data processing options
  // hic_input_hg = "$dataDir/PCHiC_data/PCHiC_peak_matrix_cutoff5.tsv"
  hic_input_hg = "/projects/li-lab/agarwa/CUBE/DeepTact/code/storeDir/hg38-enh-pr/pairs_bruteForce.bed"
  hic_input_mm = "/projects/li-lab/agarwa/CUBE/DeepTact/code/storeDir/mm10-enh-pr/pairs_bruteForce.bed"
  // hic_input_mm = "/projects/li-lab/agarwa/CUBE/DeepTact/code/ChIA-PET/mouse_chiapet_B/mouseB.cluster.FDRfiltered.tsv"

  hic_dev_hg = "/projects/li-lab/agarwa/CUBE/DeepTact/code/storeDir/hg38-enh-pr/pairs_bruteForce.chr22.dev3k.bed"
  hic_dev_mm = "/projects/li-lab/agarwa/CUBE/DeepTact/code/storeDir/mm10-enh-pr/pairs_bruteForce.chr18.dev3k.bed"
  // hic_dev_mm = "/projects/li-lab/agarwa/CUBE/DeepTact/code/ChIA-PET/mouse_chiapet_B/mouseB.cluster.FDRfiltered.tsv"

  cellTypes_hg=['allPairs']//['Mon', 'FoeT', 'nCD4','tCD4','tCD8','tB'] // cell types list for PCHiC data // human
  cellTypes_mm=['allPairs'] // ['B'] // cell types list for PCHiC data // mouse

  // gtf_transcript_to_gene_hg = "$dataDir/hg38/hg38_ncbiRefSeq.gtf"
  gtf_transcript_to_gene_hg = "$dataDir/hg38/GRCh38.p13_ncbiRefSeq.gtf"
  // gtf_transcript_to_gene_mm = "$dataDir/mm10/mm10_ncbiRefSeq.gtf"
  gtf_transcript_to_gene_mm = "$dataDir/mm10/GRCm38.p6_ncbiRefSeq.gtf"

  pos_threshold = 5
  neg_threshold = 0

  hic_augment_factor = 1 //num of augmented interactions created as a multiple of total interactions
  pos_neg_interac_ratio = 0 //num of negative interactions created as a multiple of positive interactions

  hic_split_process = 200 // split hic tsv into <N> part for generating aug csv
  // sepdata_split = 512
  valFrac = 0.2
  testFrac = 0.2
  trainFrac = 0.6

  noNegAug = false
}

includeConfig 'genome-seq-prep.config'
// includeConfig 'pr-enh-prep.config' // already included in 'genome-seq-prep.config'
