params{  // regulatory element preprocessing options
  dataDir="/projects/li-lab/agarwa/CUBE/DeepTact/dataset"

  species = "" //'mm'/'hg'

  promoter_bedfile_hg = "$dataDir/hg38/hg38_ncbiRefSeq.bed"
  promoter_headers_hg = "['chrom', 'txStart', 'txEnd', 'name', 'score', 'strand', 'cdsStart', 'cdsEnd', '--', 'exonCount', 'exonStarts', 'exonEnds']"
  enhancer_bedfile_hg = "$dataDir/enhancers_fantom5/F5.hg38.enhancers.bed"
  all_chrom_hg = "['chr1', 'chr2', 'chr3', 'chr4', 'chr5', 'chr6', 'chr7', 'chr8', 'chr9', 'chr10', 'chr11', 'chr12', 'chr13', 'chr14', 'chr15', 'chr16', 'chr17', 'chr18', 'chr19', 'chr20', 'chr21', 'chr22', 'chrX', 'chrY']"

  promoter_bedfile_mm = "$dataDir/mm10/mm10_ncbiRefSeq.bed"
  promoter_headers_mm = "['chrom', 'txStart', 'txEnd', 'name', 'strand']"
  enhancer_bedfile_mm = "$dataDir/enhancers_fantom5/F5.mm10.enhancers.bed"
  all_chrom_mm = "['chr1', 'chr2', 'chr3', 'chr4', 'chr5', 'chr6', 'chr7', 'chr8', 'chr9', 'chr10', 'chr11', 'chr12', 'chr13', 'chr14', 'chr15', 'chr16', 'chr17', 'chr18', 'chr19', 'chrX', 'chrY']"

  bgWindow = 1000000 // background length for regulatory elements = 1MB (both promoters and enhancers)
  augment_length = 1000
  augment_step = 50

  promoter_window = 1000
  enhancer_window = 2000

  enhancer_headers = "['chrom', 'chromStart', 'chromEnd', 'name', 'score', 'strand', 'thickStart', 'thickEnd', 'itemRgb', 'blockCount', 'blockSizes', 'blockStarts']"
}